.learning-section {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    background-image: linear-gradient(to top, transparent, #41464c9b);
    border-radius: 12px;
    border-bottom: 2px solid rgba(245, 245, 245, 0.653);
}

.learning-section h1{
    text-align: left;
    margin: 15px;
    margin-left: 0px;
    margin-top: 0px;
}

.alg-learning {
    display: inline;
    margin-right: 15px;
}

.collapsible {
    background-color: transparent;
}

.collapsible button {
    border: transparent;

    display: flex;
    width: 110px;

    margin-right: 15px;
    margin-bottom: 15px;

    color: whitesmoke;
    background-color: crimson;

    border-radius: 6px;
}

.collapsible .header:hover {
    transform: scale(.9);
    background-color: rgba(245, 245, 245, 0.653); 
    color: crimson;
}

.collapsible .learning {
    display: flex;
    margin: 15px;
    margin-left: 0px;
    background-color: transparent;
}

.collapsible .learning h1 {
    width: 100px;
    
    color: crimson;
    background-image: linear-gradient(to top, transparent, #41464c9b);

    margin: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 25px;

    border: 2px solid rgba(245, 245, 245, 0.653);
    border-radius: 10px;

    text-align: left;
    
}

.alg-description {
    padding: 15px;
    text-align: left;
    background-color: transparent;
}

/* Images */

.images {
    height: 250px;
    display:flex;
}

.images img {
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
}

.images img:hover {
    transform:scale(1.01);
}

